<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin dashboard</title>
    <link rel="stylesheet" href="/public/css/admin/basics.css">
    <link rel="stylesheet" href="/public/css/tables.css">
    <link rel="icon" type="image/png" href="/public/images/favicon.png" sizes="128x128">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- ChartJS library -->
</head>
<body>
    <%- include("../partials/admin-dashboard-nav") %>
    <main>
        <%- include("../partials/admin-dashboard-header") %>
        <h1>OLX overview</h1>
        <h2>New listings</h2>
        <canvas id="listings"></canvas>
        <h2>Contact form</h2>
        <table style="margin-left: 40px; margin-bottom: 50px;">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>First name</th>
                    <th>Email</th>
                    <th>Message</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="contacts-table">
            </tbody>
        </table>
    </main>
    <script src="/public/js/transformDate.js"></script>
    <script>
        async function deleteContact(id) {
            const response = await fetch(`/admin/api/delete-contact?id=${id}`, {
                    method: 'DELETE'
                });
            window.location.reload();
        }
        fetch("/admin/api/contacts")
        .then(response => response.json()) 
        .then(async contacts => {
            for (const contact of contacts) {
                let cRow = document.createElement("tr");
                cRow.innerHTML = `
                    <td>${formatDate(contact.date)}</td>
                    <td>${contact.firstName}</td>
                    <td>${contact.email}</td>
                    <td>${contact.message}</td>
                    <td class='delete-column'><svg onclick="deleteContact('${contact._id}')" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19Z" fill="black"/>
                            </svg></td>`;
                document.getElementById("contacts-table").appendChild(cRow);
            }
        });
        const today = Date.now();
        const filters = [];
        const labels = [];
        labels.push("Today");
        filters.push(today);
        for (let i = 1; i <= 7; i++) {
            const prevDate = today-i*(24 * 60 * 60 * 1000);
            labels.unshift(formatDate(prevDate));
            filters.unshift(prevDate);
        }
        //graph
        var ctx = document.getElementById('listings').getContext('2d');

        var data = {
            labels: labels,
            datasets: [{
                label: 'New listings per day',
                data: [1,2,3,4,5,6,7,8],
                fill: false,
                borderColor: 'rgb(24, 140, 62)',
                tension: 0.1
            }]
        };

        // Create the chart
        var myChart = new Chart(ctx, {
            type: 'line',
            data: data
        });
    </script>
</body>
</html>