<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
    <link rel="stylesheet" href="/public/css/admin/basics.css">
    <link rel="icon" type="image/png" href="/public/images/favicon.png" sizes="128x128">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- ChartJS library -->
</head>
<body>
    <%- include("../partials/admin-dashboard-nav") %>
    <main>
        <%- include("../partials/admin-dashboard-header") %>
        <h1>Database</h1>
    </main>
</body>
</html>