<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/dashboard/dashboard.css">
    <link rel="icon" type="image/png" href="/public/images/favicon.png" sizes="128x128">
    <title>Account</title>
    <link rel="stylesheet" href="/public/css/basics.css">
    <link rel="stylesheet" href="/public/css/modal.css">
</head>
<body>
    <%- include("../views/partials/dashboard-nav") %>
    <main>
        <div class="modal" id="confirmationModal">
            <div class="modal-content">
              <p>Are you sure you want to delete your account? All your associated listings will be deleted.</p>
              <button id="confirm" onclick="confirmDelete()">Yes, delete</button>
              <button onclick="closeModal()">Cancel</button>
            </div>
          </div>
        <%- include("../views/partials/dashboard-header") %>
        <h1>Account</h1>
        <form class="left-form" action="/api/update-account" method="POST">
            <div class="inputGroup row">
                <div class="inputDiv mr">
                    <label for="governmentId">Government ID</label>
                    <input type="text" id="governmentIdPublic" disabled>
                    <input type="text" id="governmentId" name="governmentId" hidden>
                </div>
                <div class="inputDiv">
                    <label for="username">Username</label>
                    <input type="text" id="usernamePublic" disabled>
                    <input type="text" id="username" name="username" hidden>
                </div>
          </div>
          <div class="inputGroup row">
            <div class="inputDiv mr">
                <label for="password">Password</label>
                <input required placeholder="Password" type="password" name="password" id="password">
            </div>
            <div class="inputDiv">
                <label for="firstName">First Name</label>
                <input required type="text" name="firstName" id="firstName">
            </div>
          </div>
          <div class="inputGroup row">
            <div class="inputDiv mr">
                <label for="lastName">Last Name</label>
                <input required type="text" name="lastName" id="lastName">
            </div>  
            <div class="inputDiv">
                <label for="cell">Cell phone number</label>
                <input required type="text" name="cell" id="cell">
            </div>
          </div>
          <div class="button-group">
            <button class="btn-red" type="button">Delete account</button>
            <button class="submit-button btn-green" type="submit">Save changes</button>
          </div>
        </form>
        
    </main>
    <script src="/public/js/listings.js"></script>
    <script>
        var modal = document.getElementById("confirmationModal");

        const userid = "<%= user_id %>";
        const deleteButton = document.querySelector(".btn-red");

        function closeModal() {
            modal.style.display = "none";
        }
    
        deleteButton.addEventListener("click", function() {
            modal.style.display = "block";
        });

        document.addEventListener("DOMContentLoaded", function() {
            //populate form
            fetch(`/api/userbyid?id=${userid}`)
            .then(response => response.json())
            .then(user => {
              document.querySelector("#governmentIdPublic").value = user.governmentId;
              document.querySelector("#governmentId").value = user.governmentId;
              document.querySelector("#usernamePublic").value = user.username;
              document.querySelector("#username").value = user.username;
              document.querySelector("#firstName").value = user.firstName;
              document.querySelector("#lastName").value = user.lastName;
              document.querySelector("#cell").value = user.cell;
              document.querySelector("form").action = `/api/update-account/${userid}`;
                  
              async function confirmDelete() {
                  closeModal();
                  await fetch(`/api/delete-user?id=${userid}`);
                  window.location.href = "/login";
              };

              document.querySelector("#confirm").addEventListener("click", confirmDelete);
              })
              .catch(error => console.error('Error fetching user:', error)); 

            });

    </script>
</body>
</html>