<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/public/images/favicon.png" sizes="128x128">

    <title>Create account</title>
</head>
<body>
    <%- include("../views/partials/website-nav") %>
    <main class="center-div">
        <h1>Nice to meet you!</h1>
        <p class="center-grey">Fill in your details below to join OLX!</p>
        <form action="/register" method="post" class="create-account-form">
            <div class="inputGroup row">
                <div class="mr">
                    <div class="inputDiv">
                        <label for="governmentId">Government ID</label>
                        <input type="text" required name="governmentId" id="governmentId" placeholder="0123456789123">
                    </div>
                    <div class="inputDiv">
                        <label for="username">Username</label>
                        <input type="text" required name="username" id="username" placeholder="username">
                    </div>
                    <div class="inputDiv">
                        <label for="password">Password</label>
                        <input type="password" required name="password" id="password" placeholder="password">
                        <div style="display: flex; padding-top: 10px;">
                            <input type="checkbox" id="reveal" onclick="showPassword()">
                            <label for="reveal" style="margin: 0px; padding: 0px;">Show password</label>
                        </div>

                    </div>
                </div>
                <div>
                    <div class="inputDiv">
                        <label for="First name">First name</label>
                        <input type="text" required name="firstName" id="firstName" placeholder="Alex">
                    </div>
                    <div class="inputDiv">
                        <label for="lastName">Last name</label>
                        <input type="text" required name="lastName" id="lastName" placeholder="van den Boogaard">
                    </div>
                    <div class="inputDiv">
                        <label for="cell">Cell phone</label>
                        <input type="text" required name="cell" id="cell" placeholder="0622681175">
                    </div>
                </div>
            </div>
            <button type="submit" class="button btn-green center">Join OLX</button>
                <p>Already have an account? <a href="/login">Log in.</a></p>
        </form>
    </main>
    <script>
        function showPassword() {
          var passwordField = document.getElementById("password");
          if (passwordField.type === "password") {
            passwordField.type = "text";
          } else {
            passwordField.type = "password";
          }
        }
    </script>
</body>
</html>