<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/public/images/favicon.png" sizes="128x128">
    <link rel="stylesheet" href="/public/css/tables.css">
    <title>Notifications</title>
    <style>
        button {
            background-color: #ff6347;
            color: white;
            border: none;
            padding: 8px 12px;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #ff483f;
        }
        table {
            margin-left: 50px;
        }

        svg {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <%- include("../views/partials/dashboard-nav") %>
    <main>
        <%- include("../views/partials/dashboard-header") %>
        <h1>Notifications</h1>
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Date</th>
                    <th class="delete-column"><svg onclick="deleteAllNotification()" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19Z" fill="white"/>
                    </svg></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </main>
    <script src="/public/js/transformDate.js"></script>
    <script>
        const id = "<%= user_id %>"; 

        async function deleteNotification(id) {
            await fetch(`/api/deletenotification?id=${id}`);
            location.reload();

        }
        async function deleteAllNotification(element) {
            await fetch(`/api/deleteallnotification?id=${id}`);
            location.reload();
        }

        const notTable = document.querySelector("tbody");
        fetch(`/api/notifications?id=${id}`)
            .then(response => response.json())
            .then(notifications => {
                notifications.forEach(not => {
                    let record = document.createElement("tr");
                    record.innerHTML = `
                        <td>${not.description}</td>
                        <td class="date">${not.date}</td>
                        <td>
                            <svg onclick="deleteNotification('${not._id}')" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19Z" fill="black"/>
                            </svg>
                        </td>`;
                    notTable.appendChild(record);
                });
            
                const dates = document.querySelectorAll(".date");
                dates.forEach(item => {
                    item.textContent = formatDate(item.textContent);
                });
            })
            .catch(error => console.error("Error fetching notifications:", error));

    </script>
</body>
</html>