<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/public/images/favicon.png" sizes="128x128">
    <title>Contact us</title>
</head>
<body>
    <%- include("../../views/partials/website-nav") %>
        <main class="center-div">
        <h1>Contact us</h1>
        <p class="center-grey">Fill in your details below and pop us a message</p>
        <form action="/contact" method="post">
            <div class="inputGroup">
                <div class="inputDiv">
                    <label for="username">First Name</label>
                    <input type="text" required name="firstName" id="firstName" placeholder="Alex">
                </div>
                <div class="inputDiv">
                    <label for="email">Email address</label>
                    <input type="email" required name="email" id="email" placeholder="alex.vandenboogaard@outlook.com">
                </div>
                <div class="inputDiv">
                    <label for="message">Message</label>
                    <textarea type="text" required name="message" id="message" placeholder="Your message here"></textarea>
                </div>
                <button type="submit" class="button btn-green">Send message</button>
            </div>
        </form>
    </main>
    <%- include("../../views/partials/footer") %>
</body>
</html>