<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/basics.css">
    <link rel="stylesheet" href="/public/css/website.css">
    <link rel="icon" type="image/png" href="/public/images/favicon.png" sizes="128x128">
    <title>OLX - home</title>
</head>
<body>
    <%- include("../../views/partials/website-nav") %>
    <main>
        <h1>Exactly what you need, <span>wherever</span> you are</h1>
        <div class="button-group">
            <a href="/login" class="btn btn-green">Start selling</a>
            <a href="/listings" class="btn">View listings</a>
        </div>
    </main>
    <%- include("../../views/partials/footer") %>
</body>
</html>